<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.idr.nasaproject">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.EarthDetailActivity" android:parentActivityName=".UI.EarthActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.EarthActivity" />

        </activity>
        <activity android:name=".UI.EarthActivity" android:parentActivityName=".UI.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />

        </activity>
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>